# development | dev | staging | production | prod | test
NODE_ENV=development

PORT=4000

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=smartstock_backend
DB_SSL=false
DB_LOGGING=false

# trace | debug | info | warn | error | fatal | silent
LOG_LEVEL=info
